.btn_download {
width: 195px;
height: 55px;
font-family: 'Cabin';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #F9F9F9;
background: #313169;
border: 1px solid #313169;
cursor: pointer;

&:hover {
    background: #48488a;
    
}
}